.page {
  display:flex;
  flex-direction: column;
  background-color:blanchedalmond;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  border: 10px solid black;
  border-radius: 20px;
  margin: 20px;
  justify-content:center;
}

img {
  width: 25% !important;
  height: auto !important;
  border-radius: 10%;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content:left;
  text-align: middle;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color:blanchedalmond;
  border-radius: 20px;
  justify-content: space-between;
}

.body2 {
  display: flex;
  flex-direction: column;
  background-color:blanchedalmond;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content:center;
  margin:  0 -25px;
}

tr, td {
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  padding: 10px;
}

#flashy {
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 25px; 
  text-align: center;
  color: antiquewhite;
}

.spacer {
  padding:15px;
}

.balance {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  color: antiquewhite;
  text-align: center;
  width:200px;
  height:auto;
  border-radius: 25px;
}

.title {
  padding: 25px;
  border:crimson solid 3px;
  border-radius: 25px;
  text-align: center;
}

#bigBoi {
  color: black;
  text-transform: capitalize;
}

.search-bar {
  border: 1px solid black;
  border-radius: 25px;
  text-indent: 4px;
  margin: 10px;
}

.search-button {
  border: 1px solid black;
  border-radius: 25px;
  margin:10px;
}