/* GENERAL STYLING */
.footer {
  margin-top: 3rem;
}

/* ADDRESS SEARCH STYLING */

.box {
  color: #fff;
  align-items: center;
  text-align: center;
  max-width: flex;
  margin: 30px auto;
  overflow: auto;
  min-height: flex;
  border: 1px solid white;
  padding: 1em;
  border-radius: 5px;
}

.container {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

.rep-image {
  height: 100px;
  width: 100px;
}

ul {
  text-align: left;
}

ul > ul {
  background-color: #f4f4f4;
  padding: 2em;
  border: 1px solid #fdfdfd;
  margin-bottom: 1rem !important;
}
