/* GENERAL STYLING */
footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* ADDRESS SEARCH STYLING */

.box {
  color: #fff;
  align-items: center;
  text-align: center;
  max-width: flex;
  margin: 30px auto;
  overflow: auto;
  min-height: flex;
  border: 1px solid white;
  padding: 1em;
  border-radius: 5px;
}

.container {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

ul {
  text-align: left;
}

ul > ul {
  background-color: #494e60;
  padding: 1em;
}
